*, 
*:before, 
*:after{
	padding:0;
	margin:0;
	box-sizing: border-box;	
}

/*------------------- Login Button And Logo ------------------------*/
.index_logo_button-div{
	background-color: #000000;
	height: 50px;
	width: 100%;
}


#index_login_button{
	background-color: #F12A2A;
	border-radius: 5px;
	border: 2px solid #F12A2A;
	margin-top: 5px;
	float: right;
	margin-right: 200px;
	height: 25px;
	width: 80px;/*
	font-size: 15px;*/
}

#login_button_text{
	font-size: 18px;
	text-decoration: none;
	color: #FFFFFF;
}


/*------------------- Navigation Bar ------------------------*/
.navigation-div{
	background-color: #000000;
	height: 60px;
	width: 100%;
}

nav{
	height: 100px;
	width: 700px;
	min-width: 600px;
	display: flex;
	align-content: center;
	justify-content: space-around;
	margin:auto;
}


.nvg{
	position: relative;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.nvg:after{
	content: "";
	position: absolute;
	background-color: #F12A2A;
	height: 3px;
	width: 0%;
	margin-top: 25px;
	left: 0;
	transition: 0.3s;
}

.nvg:hover:after{
	width: 100%;
}


/*------------------- Tagline and Photo Division ------------------------*/

h2{
	font-size: 30px;
}

.tagline_title_subtitle-div{
	background-color: #D5D5D5;
	height: 350px;
	width: 100%;
}


.tagline_subtitle{
	float: left;
	margin-left: 200px;
	margin-top: 50px;
	height: 300px;
	width: 30%;
	text-align: justify;
	text-justify: inter-word;
}


.gym_photo{
	float: right;
	margin-right: 130px;
	margin-top: 50px;
}


#index_more_button{
	background-color: #F12A2A;
	border-radius: 5px;
	border: 2px solid #F12A2A;
	margin-top: 5px;
	height: 25px;
	width: 80px;
}

#more_button_text{
	font-size: 16px;
	text-decoration: none;	
	color: #FFFFFF;

}


/*------------------------------- Branches ------------------------------*/
.our-branches-main-bg-div{
	height: 550px;
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
}

.about-us-branches-div{
	/*background-color: orange;*/
	height: 550px;
	width: 100%;
	position: relative;
}


#about-us-our-branches-heading{
	font-size: 25px;
	color: #000000;
	padding-bottom: 15px;
}


.about-us-branches-img{
	height: 500px;
	width: 60%;
	margin-left: 200px;
	/*border: 1px solid black;*/
}


.branch-1-img-div{
	float: left;
}


.branch-img{
	margin: 15px 15px 40px 15px;
	border-radius: 5px;
}



.branch-2-img-div{
	float: right;
}


.branch-1-description-div{
	width: 250px;
	margin-right: 10px;
	display: grid;
	text-align: justify;
	text-justify: inter-word;
	margin-top: 0;
}


.branch-2-description-div{
	float: left;
	width: 250px;
	position: absolute; 
	margin-top: 90px;
	margin-left: 10px;
	display: grid;
	text-align: justify;
	text-justify: inter-word;
}


.branch{
	font-size: 15px;
	color: #F12A2A;
	margin-left: 15px;
	margin-top: 10px;
}


.address-heading{
	font-size: 15px;
	color: #000000;
	margin-left: 15px;
	margin-top: 10px;
}


.address{
	font-size: 12px;
	color: #000000;
	margin-left: 15px;
	margin-top: 10px;
}



/*------------------------------- Programs -------------------------------*/
.our-programs-main-bg-div{
	height: 300px;
	width: 100%;
	background-color: #D5D5D5;
	position: relative;
}

.about-us-opening-hours-div{
	height: 350px;
	width: 60%;
	margin-left: 200px;
	/*border: 1px solid red;*/
	position: relative;
	/*margin-top: 525px;*/
}

#about-us-programs-heading{
	font-size: 25px;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 20px;
}


.programs-div-1{
	/*float: left;*/
	height: 250px;
	width: 130px;
	/*border: 1px solid black;*/
	margin-left: 28%;
	display: grid;
	padding: 5px;
}


.programs-div-2{
	height: 250px;
	width: 150px;
	/*border: 1px solid black;*/
	margin-left: 58%;
	margin-top: -250px;
	position: absolute;
	display: grid;
}



/*------------------------------- Features -------------------------------*/
.our-features-main-bg-div{
	height: 300px;
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
}

.about-us-features-div{
	height: 350px;
	width: 60%;
	margin-left: 200px;
	/*border: 1px solid red;*/
	position: relative;
}

#about-us-features-heading{
	font-size: 25px;
	color: #000000;
	padding-top: 15px;
	padding-bottom: 10px;
}


.features-div-1{
	height: 250px;
	width: 200px;
	/*border: 1px solid black;*/
	text-align: left;
	display: grid;
	padding: 5px;
}



/*----------------------------- Testimonials------------------------------*/

.testimonials-main-bg-div{
	height: 450px;
	width: 100%;
	background-color: yellow;
	position: relative;
}

.testimonials-div{
	height: 450px;
	width: 60%;
	margin-left: 200px;
	border: 1px solid red;
	position: relative;
}

#testimonials-heading{
	font-size: 25px;
	color: #000000;
	padding-top: 15px;
	padding-bottom: 10px;
}









/*-------------------------- Know More About Us --------------------------*/








/*----------------------------- Statistics ------------------------------*/











/*-------------------------------- Footer -------------------------------*/
